00_synthetic/00_PDAC_A/
01_real_data/00_suplementary/
01_real_data/01_pdac/
01_real_data/02_mob/
02_scripts/05_stereoscope/stereo_env/
02_scripts/08_spaDecon/spaDecon_env/
03_results/00_clustering_lcerm/
03_results/01_CARD/
03_results/02_spotlight/
03_results/03_stereoscope/
03_results/04_STL_NMF/
03_results/05_models/
03_results/06_figures/


